* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

h2 {
    color: palevioletred;
    font-weight: bold;
    padding: 20px 0;
}

body {
    font-weight: bold;
    text-align: center;
}

#body {
    padding: 10px;
    border: 2px blue solid;
    border-radius: 20px;
}

.section1 {
    text-align: right;
}

    .section1 h2 {
        color: fuchsia;
        margin: 10px 0;
    }

    .section1 p {
        font-size: 18px;
    }

    .section1 span {
        color: orange;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }

.button {
    margin: 30px 0;
}

    .button a {
        color: black;
        font-weight: bold;
        padding: 20px;
        background-color: aquamarine;
        border-radius: 20px;
    }

        .button a:hover {
            color: white;
            background-color: darkmagenta;
        }

.section2 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: darksalmon 2px dotted;
    background-color: azure;
}

.rozsaszin {
    width: 250px;
    margin: 10px auto;
    background-color: plum;
    padding: 20px;
    border-radius: 25px;
    list-style-type: circle;
}

.section3 ol {
    list-style-type: none;
}

.section3 img {
    height: 200px;
    border-radius: 12px;
    margin: 10px 0;
}

.section3 span {
    font-weight: bold;
    color: darkorange;
    text-align: left;
}

#article, #aside, #footer, #nav, #header {
    padding: 20px;
}

#header {
    background-color: deepskyblue;
}

#nav {
    background-color: azure;
    display: flex;
}

    #nav a {
        text-decoration: none;
        color: black;
        flex: 1 1 auto;
    }

        #nav a:hover {
            text-decoration: underline;
            color: darksalmon;
        }

#article {
    background-color: gold;
    text-align: left;
}

#aside {
    background-color: lightgreen;
}

#footer {
    background-color: darkviolet;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #body {
        margin: auto;
    }

    #main {
        display: flex;
    }

    #nav, #header {
        order: -1;
    }

    #article {
        flex: 1 1 80%;
    }

    #aside {
        flex: 1 1 20%;
    }
}
